html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: #FF0000;
	height: 100px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
}

header img {
	width: 640px;
	float: left;
	padding: 15px;
}

article {
	padding: 10px;
	margin: 10px;
	background: purple;
	flex: 1;
}

article img {
	width: 200px;
	float: left;
	padding: 15px;
}

article:nth-of-type(3) {
	flex: 2;
}

section {
	display: flex;
	flex-wrap: wrap;
}
